<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to 'Ruby Media Manager', root_path, :class => :brand %>

      <%= form_tag '/search', :class => 'navbar-form pull-right' do %>
      <%= text_field_tag 'query', '', :placeholder => 'Search', :class => 'search-query' %>
      <% end %>
    </div>
  </div>
</div>